In [2]:
import pandas.io.sql as psql
import psycopg2

In [3]:
conn = psycopg2.connect(host='localhost', database='postgres', user='postgres', password='2023', port='5432')

In [4]:
# DataFrame: DB에서 table에 해당하는 pandas 개념
df = psql.read_sql('SELECT * FROM volt_table', conn)

C:\Users\USER\AppData\Local\Temp\ipykernel_12000\3140076725.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = psql.read_sql('SELECT * FROM volt_table', conn)

In [5]:
# DataFrame의 특성 보기
df.describe()

          meas_time       volt
count  3.600000e+01  36.000000
mean   1.700905e+09   3.352069
std    4.430007e+05   0.005159
min    1.700040e+09   3.343108
25%    1.700630e+09   3.347996
50%    1.701239e+09   3.352884
75%    1.701242e+09   3.354106
max    1.701242e+09   3.362659

In [6]:
# DataFrame의 원소 개수
len(df)

36

In [13]:
#DataFrame에서 Series를 접근
ser = df['volt']
print(ser)

0     3.352884
1     3.352884
2     3.347996
3     3.357771
4     3.357771
5     3.347996
6     3.343108
7     3.352884
8     3.357771
9     3.352884
10    3.347996
11    3.347996
12    3.352884
13    3.347996
14    3.343108
15    3.352884
16    3.357771
17    3.347996
18    3.357771
19    3.347996
20    3.347996
21    3.352884
22    3.352884
23    3.343108
24    3.357771
25    3.352884
26    3.347996
27    3.352884
28    3.352884
29    3.352884
30    3.357771
31    3.362659
32    3.362659
33    3.352884
34    3.343108
35    3.352884
Name: volt, dtype: float64

In [8]:
# DataFrame의 Series 이름에 접근
print(df.columns[0])
print(df.columns[1])

meas_time
volt

In [16]:
#mean = df['volt'].mean()
mean = ser.mean() # 평균
print(mean)

3.3520689944444446

In [18]:
med = ser.median() # 중앙값
print(med)

3.3528836

In [19]:
var = ser.var() # 분산
print(var)

2.6618642306824967e-05

In [20]:
std = ser.std() # 표준 편차
print(std)

0.005159325760874667

In [ ]:
# describleVoltTable()의 구성: 'volt' Series를 얻어서 mean(), median(), var(), std()를 호출
# describleVoltTable()은 PythonHub의 메소드